<section>

  <p>
    <quote>
      “Ruby on Rails is a breakthrough in lowering the barriers of entry
      to programming. Powerful web applications that formerly might have
      taken weeks or months to develop can be produced in a matter of
      days.”
    </quote><br/>
    <cite><em>-Tim O'Reilly, Founder of O'Reilly Media</em></cite>
  </p>

  
  <p>
    <quote>
      “It is impossible not to notice Ruby on Rails. It has had a huge
      effect both in and outside the Ruby community... Rails has become a
      standard to which even well-established tools are comparing themselves
      to.”
    </quote><br/>
    <cite><em>-Martin Fowler, Author of Refactoring, PoEAA, XP Explained</em></cite>
  </p>
  

  <p>
    <quote>
      “...we need to focus on humans, on how humans care about doing programming.” 
    </quote><br/>
    <cite><em>-Yukihiro Matsumoto, Creator of the Ruby Language</em></cite>
  </p>

  
  
</section>




