// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
  background: #E3E3E3;
}


.availability-count {
color: red;
}

.tweetimonials {
  @extend .sans;
  font-size: 1.8em;
  line-height: 1.4em;
  margin-bottom: 1.5em;
}

